.card {
    background-color: rgb(3, 73, 11);
    text-align: center;
    overflow: hidden; 
    
    background-size: cover;
    height: 100vh;
    color: black;

    
  }
.input {
    background-color: rgb(73, 64, 3);
}

.container{
    background-image: url("https://images.unsplash.com/photo-1482049016688-2d3e1b311543?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flag {
    height: 1.5rem;
    object-fit: contain;
 }

 .button:disabled {
    background-color: #020101; /* Color de fondo gris */
    color: #666; /* Texto en gris oscuro */
    cursor: not-allowed; /* Cursor indicando que no se puede hacer clic */
    opacity: 0.6; /* Hacerlo más transparente */
  }